body{
background-color: #7e1fdb;
margin: 0%;
}

h1{
    font-size: 68px;
    text-align: center;
    color: #22005b;
	font-family: Papyrus,fantasy; 
}

h2{
    font-size: 50px;
    margin-left: 10px;
    color: #22005b;
	font-family: Papyrus,fantasy; 
    color: #e895f5;
}

li{
    margin-left: 60px;
    font-size: 38px;
}

div{
    font-size: 26px;
    color: #1f054a;
    font-family: Comic Sans MS
}

.back{
    position: relative;
    background-color: #a856ea;
    margin-left: auto;
    margin-right: auto;
    border: #1f054a;
    /* border-radius: 20px; */
    border-style: solid;
}

.highlight{
    display: inline-block;
    color: #d781f0;
    font-style: italic;
    font-weight: bold;
}

.mainInf{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 170px;
    margin-right: 25px;
}

.quote{
    font-style:italic;
    margin-left: 20px;
}

a{
    color: #fb00d4;
}

.JSN{
    margin-left: 30px;
    font-size: 38px;
}

img{
    border-style: dashed;
    margin-left: 20px;
}

.hpy{
    height: 450px;
}